<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Wykonano działanie Admina:</H1>
<!--<h2 th:if="${activity == "add"}" ><h2 th:text ="'Dodano do bazy pytanie: ' + ${addedQuestionBody} + ' z ID ' + ${addedQuestionId}"></h2></h2>-->
<!--<h2 th:if="${activity == "delete"}">Twoja wygrana to 1 000 zł</h2>-->
<h2 th:text ="'Dodano do bazy pytanie: ' + ${addedQuestionBody} + ' z ID ' + ${addedQuestionId}"></h2>
<a href="admin.html">Powrót do zadań Admina</a>
</body>
</html>