<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twoje pytanie</title>
</head>
<body>
<h1>Twoje pytanie to:</h1>
<h2 th:text="'Wylosowane pytanie: '+ ${questionBody}"></h2>
<form action="response">
    <input th:text="${answerA}" type="radio" id="1" name="userAnswer" value="A"><br>
    <input th:text="${answerB}" type="radio" id="2" name="userAnswer" value="B"><br>
    <input th:text="${answerC}" type="radio" id="3" name="userAnswer" value="C"><br>
    <input th:text="${answerD}" type="radio" id="4" name="userAnswer" value="D"><br>


    <button>Odpowiadam</button>
    <h2>Twoje koła ratunkowe:</h2>
    <p>To na później :-P</p>
    <h2 th:text="${session.difficulty}">Nagłówek</h2>
</form>
</body>
</html>